################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/ConsoleApplication1/.vs/ConsoleApplication1/v15/ipch/AutoPCH/437c0140d147d5ae/1087_NICKMISSION.ipch
