################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/ConsoleApplication1/.vs/ConsoleApplication1/v15/ipch/AutoPCH/437c0140d147d5ae/1087_NICKMISSION.ipch
/ConsoleApplication1/.vs/ConsoleApplication1/v15/ipch/AutoPCH/80318f75529caa70/CONSOLEAPPLICATION1.ipch
/ConsoleApplication1/.vs/ConsoleApplication1/v15/Browse.VC.opendb
